

.img img{
    position: relative;
    top: 90px;
    left: 50%;
    transform: translate(-50%,-50%);
}


#stdinfocontainer .edit{
    color: skyblue;
}
#stdinfocontainer .delete{
    color: red;
}

